@charset "UTF-8";
/*
 * Author: William Chong
 * Compiler: Gulp
 */
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* 
 * Author: Justin Masse

 * SASS Mixins
 */
/*
-----------------------
      Variables
-----------------------
*/
/*
-----------------------
        IMPORTS
-----------------------
*/
/*
-----------------------
        FUNCTIONS
-----------------------

-----------------------------------------
*Set a rem font size with pixel fallback*
-----------------------------------------

Rem is similar to the em value, but instead of being relative to the parent element it’srelative to the font-size set in the <html>.
It has all the benefits of em but you don’t get issues with e.g (compounding) since rem is only relative to the html element. 
The bad part is there’s no support for rem units in IE8 and below. But with this mixin we can create a fallback to pixels when rem isn’t supported.

-------------
    Usage
-------------
p {
  @include font-size(14px)
}

-------------
   Output
-------------
p {
  font-size: 14px; //Will be overridden if browser supports rem
  font-size: 0.8rem;
}
*/
/*
-----------------------------------------
*Set rem line height with pixel fallback*
-----------------------------------------

This mixin sets the line height in rem's with a px fallback.

-------------
    Usage
-------------
body {
  @include line-height (16);
}

-------------
   Output
-------------
body {
  line-height: 16px;
  line-height: 2rem;
}
*/
/*
-----------------------------------------
*******Animations and keyframes**********
-----------------------------------------

Animations are always a pain to create with all the vendor prefixes and what not. 
But with the help of this mixin it will boil down to just a few lines of code.

-------------
    Usage
-------------
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/
/*
-----------------------------------------
***************Transitions***************
-----------------------------------------

As with animations, transitions also make your code quite bloated which can hurt the readability. 
But this is also solved by using a mixin for it.

-------------
    Usage
-------------
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
*/
/*
-----------------------------------------
**********Cross browser opacity**********
-----------------------------------------

This mixin ensures cross browser opacity all the way down to Internet Explorer 5. 
Though if you have to optomize for IE5, you have a lot bigger problems than opacity, godspeed my friend.

-------------
    Usage
-------------
.faded-text {
  @include opacity(0.8);
}
*/
/*
-----------------------------------------
****************Clearfix*****************
-----------------------------------------

There’s a lot of different clearfix hacks out there on the web. 
This one is created by (Nicolas Gallagher) and I’ve found it to be the most solid one. Works in IE6 and up.

-------------
    Usage
-------------
.container-with-floated-children {
  @extend %clearfix;
}
*/
/*
-----------------------------------------
*******Visually hide an element**********
-----------------------------------------

When you hide an element with display: none, that prevents screen readers from reading it to the user. 
Sometimes that’s fine, but in other cases this will make the site hard to use for people with screen readers. 
Thus, we have to use another technique for hiding elements while at the same time make them accessible.
In this example, we are using the Sass placeholder selector since the output will always be the same, 
which enables us to reduce repetetive code in the output.

-------------
    Usage
-------------
<button class="mobile-navigation-trigger">
  <b class="visually-hidden">Open the navigation</b>
  <img src="img/mobile-navigation-icon.svg">
</button>
.visually-hidden {
  @extend %visuallyhidden;
}
*/
/*
-----------------------------------------
************Retina Images****************
-----------------------------------------

This mixin by Jason Zimdars is a breeze to use and offers a greater visual 
experience to those that are lucky enough to have a retina device.

-------------
    Usage
-------------
div.logo {
   background: url("logo.png") no-repeat;
   @include image-2x("logo2x.png", 100px, 25px);
 }

 -------------
   Output
-------------
div.logo {
  background: url("logo.png") no-repeat;
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  div.logo {
    background-image: url("logo2x.png");
    background-size: 100px 25px;
  }
}
*/
/*
-----------------------------------------
*********Absolute Positioned*************
-----------------------------------------

Pass in the desired location of your target element to produce all the necessary positioning code.

-------------
    Usage
-------------
.abs {
  @include abs-pos(10px, 10px, 5px, 15px);
}

 -------------
   Output
-------------
.abs {
  top: 10px;
  right: 10px;
  bottom: 5px;
  left: 15px;
  position: absolute;
}
*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts-2017/slick/slick.eot");
  src: url("../fonts-2017/slick/slick.eot?#iefix") format("embedded-opentype"), url("../fonts-2017/slick/slick.woff") format("woff"), url("../fonts-2017/slick/slick.ttf") format("truetype"), url("../fonts-2017/slick/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

@font-face {
  font-family: 'cocogoose';
  src: url("../fonts/cocogoose.eot");
  src: url("../fonts/cocogoose.eot?#iefix") format("embedded-opentype"), url("../fonts/cocogoose.woff") format("woff"), url("../fonts/cocogoose.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.width-100 {
  display: inline-block;
  width: 100%; }

.width-90 {
  display: inline-block;
  width: 90%; }

.width-80 {
  display: inline-block;
  width: 80%; }

.width-70 {
  display: inline-block;
  width: 70%; }

.width-60 {
  display: inline-block;
  width: 60%; }

.width-50 {
  display: inline-block;
  width: 50%; }

.width-40 {
  display: inline-block;
  width: 40%; }

.width-30 {
  display: inline-block;
  width: 30%; }

.width-20 {
  display: inline-block;
  width: 20%; }

.width-10 {
  display: inline-block;
  width: 10%; }

.width-33 {
  display: inline-block;
  width: 33.333333333%; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block;
  clear: none !important; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
html,
body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  height: 100%;
  width: 100%;
  min-width: 640px;
  margin: 0 auto; }
  html.overlay,
  body.overlay {
    overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "cocogoose", arial, sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }
  h1 sup, h2 sup, h3 sup, h4 sup, h5 sup, h6 sup {
    font-size: 50%;
    top: -0.75rem; }

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0; }

h1 {
  letter-spacing: 3px;
  text-transform: uppercase; }

img {
  max-width: 100%; }

a {
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
  font-weight: bold;
  text-decoration: underline;
  color: #0e73b5; }

.container {
  min-width: 640px;
  padding: 0;
  margin: 0 auto;
  position: relative; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

.no-br {
  white-space: nowrap; }

section {
  width: 100%;
  display: block;
  position: relative; }

section.intro {
  background: #0e73b5;
  padding: 60px 0;
  color: white;
  background: url("../images/boat.jpg") center center;
  min-height: 560px;
  background-size: cover;
  width: 100%;
  text-align: center; }
  section.intro h1 {
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
    line-height: 1.4;
    margin-top: 60px;
    background: rgba(0, 0, 0, 0.55);
    padding-top: 16px; }
  section.intro p {
    text-align: center;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.85);
    font-weight: 700;
    margin-bottom: 16px; }
    section.intro p.subhead {
      padding-top: 16px;
      padding-bottom: 16px;
      background: rgba(0, 0, 0, 0.55);
      font-size: 1.2rem;
      line-height: 1.4; }
  section.intro a.cta {
    border-radius: 8px;
    background: rgba(164, 35, 36, 0.7);
    color: #fff;
    margin: 0 auto;
    padding: 24px 48px;
    position: relative;
    display: inline-block;
    font-family: "cocogoose", arial, sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 24px;
    margin-bottom: 16px;
    text-decoration: none; }
    section.intro a.cta:hover {
      color: #a42324;
      background: #fff; }

nav {
  position: fixed;
  top: -60px;
  width: 720px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9001;
  transition: all 0.4s ease 0.4s; }
  nav ul {
    background: rgba(14, 118, 188, 0.7);
    padding: 0 16px;
    border: 2px solid rgba(0, 0, 0, 0.55); }
    nav ul li {
      display: inline-block;
      color: #fff;
      padding: 16px 12px;
      text-transform: uppercase;
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      cursor: pointer;
      letter-spacing: 2px;
      font-size: 1rem; }
      nav ul li:hover {
        color: #a42324; }
  nav #anchor {
    display: inline-block;
    width: 28px;
    margin: 0 16px;
    vertical-align: middle; }
  nav.active {
    top: 16px; }
  nav .navlink svg:hover path {
    fill: #a42324; }

section.schedule {
  padding: 16px 16px 48px;
  color: white;
  background: url("../images/wood-pattern.png") repeat;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 102; }
  section.schedule h1 {
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-top: 32px;
    padding-bottom: 8px;
    padding-top: 20px;
    background: rgba(164, 35, 36, 0.7);
    width: 100%;
    max-width: 800px; }
  section.schedule h2 {
    color: #0e73b5;
    margin-top: 32px;
    text-transform: uppercase; }
  section.schedule p {
    text-align: center;
    color: #fff;
    padding-bottom: 16px;
    margin: 0 auto;
    background: rgba(164, 35, 36, 0.7);
    width: 100%;
    max-width: 800px; }
  section.schedule .tour {
    width: 100%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.85);
    margin: 0 auto;
    border: 4px solid rgba(164, 35, 36, 0.7); }
    section.schedule .tour .times-container {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      font-size: 0; }
      section.schedule .tour .times-container span {
        display: inline-block;
        width: 33.3333%;
        text-align: center;
        padding: 24px;
        font-family: "cocogoose", arial, sans-serif;
        color: #000;
        font-size: 1.8rem; }
  section.schedule table {
    display: block;
    color: #000;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    background: rgba(255, 255, 255, 0.85);
    padding: 12px 0; }
    section.schedule table tbody {
      display: inline; }
      section.schedule table tbody tr td span {
        text-align: left;
        display: block;
        margin: 24px 24px;
        font-family: "cocogoose", arial, sans-serif;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.85);
        color: #000;
        font-size: 1.8rem; }
    section.schedule table.return {
      border-top: 0;
      background: transparent;
      padding: 0; }
      section.schedule table.return tbody tr td span {
        display: block;
        margin: 24px 12px;
        font-family: "cocogoose", arial, sans-serif;
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.85);
        color: #0e73b5;
        font-size: 1.4rem; }
  section.schedule:before {
    content: "";
    position: absolute;
    width: 100%;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/rope.png) repeat-x;
    height: 45px; }
  section.schedule:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/rope.png) repeat-x;
    height: 45px; }

section.location {
  padding: 60px 0 72px;
  color: white;
  background: #0f223a;
  background-size: cover;
  width: 100%;
  min-height: 720px;
  text-align: center;
  position: relative;
  z-index: 101; }
  section.location h1 {
    display: block;
    margin-bottom: 24px; }
  section.location #map {
    border: 8px solid #fff;
    width: 80%;
    height: 540px;
    margin: 0 auto;
    margin-bottom: 24px; }
  section.location .map3d {
    width: 80%;
    border: 8px solid #fff; }
  section.location #marker {
    max-width: 400px;
    height: 120px;
    margin-top: 12px;
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    line-height: 1.4;
    text-align: left; }
    section.location #marker p {
      margin-bottom: 8px; }
    section.location #marker a {
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      color: #0e73b5; }

section.faq {
  padding: 60px;
  color: #fff;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 101;
  background: url("../images/dark-wood-pattern.png") repeat;
  font-size: 0; }
  section.faq h1 {
    padding: 0 0 24px;
    color: #fff;
    display: block;
    font-size: 2rem; }
  section.faq ul {
    line-height: 1.4;
    width: 50%;
    display: inline-block; }
    section.faq ul li {
      font-size: 1rem;
      text-align: left; }
      section.faq ul li:nth-child(odd) {
        font-weight: bold;
        margin-bottom: 4px; }
      section.faq ul li:nth-child(even) {
        margin-bottom: 16px; }
  section.faq:before {
    content: "";
    position: absolute;
    width: 100%;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/rope.png) repeat-x;
    height: 45px; }
  section.faq:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/rope.png) repeat-x;
    height: 45px; }
  @media (max-width: 768px) {
    section.faq ul {
      display: block;
      width: 100%;
      padding: 24px; } }

section.route {
  padding: 60px 0 60px;
  color: white;
  width: 100%;
  text-align: center;
  position: relative;
  background: url("../images/blue-pattern.jpg") repeat;
  z-index: 101; }
  section.route h1 {
    padding: 24px;
    color: #fff;
    display: block; }
  section.route img {
    width: 80%;
    display: inline-block;
    margin: 0 auto;
    border: 8px solid #0f223a; }

section.charters {
  padding: 60px;
  color: #a42324;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 100;
  background: #0f223a;
  font-size: 0; }
  section.charters h1 {
    padding: 0 0 24px;
    color: #fff;
    display: block;
    font-size: 2rem; }
  section.charters p {
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.4;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 24px 48px; }

section.about {
  padding: 60px;
  color: #a42324;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 101;
  background: url("../images/wood-pattern.png") repeat;
  font-size: 0; }
  section.about h1 {
    padding: 0 0 24px;
    color: #a42324;
    display: block;
    font-size: 2rem; }
  section.about p {
    color: #000;
    font-size: 1.4rem;
    line-height: 1.4;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 24px 48px;
    background: rgba(255, 255, 255, 0.85); }
    section.about p:first-child {
      padding-bottom: 0; }
    section.about p:last-child {
      padding-top: 0; }

footer {
  background: #000;
  color: #dddddd;
  padding: 24px;
  text-align: center;
  font-size: 0.9rem; }
  footer #copyright p {
    margin-bottom: 8px; }
