section.location {
  padding: 60px 0 72px;
  color: white;
  background: $darkblue;
  // background: url('../images/location.jpg') top center no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 720px;
  text-align: center;
  position: relative;
  z-index: 101;
  h1 {
    display: block;
    margin-bottom: 24px;
  }
  #map {
    border: 8px solid $white;
    width: 80%;
    // max-width: 800px;
    height: 540px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .map3d {
    width: 80%;
    border: 8px solid $white;
  }
  #marker {
    max-width: 400px;
    height: 120px;
    margin-top: 12px;
    color: $black;
    font-family: $raleway;
    font-size: 0.8rem;
    line-height: 1.4;
    text-align: left;
    p {
      margin-bottom: 8px;
    }
    a {
      font-family: $raleway;
      font-weight: bold;
      color: $blue;
    }
  }
}